*.dex
*.html
*.lock
*.bin
.gradle/9.1.0/executionHistory/executionHistory.bin
.gradle/9.1.0/executionHistory/executionHistory.lock
.gradle/9.1.0/fileHashes/fileHashes.bin
.gradle/9.1.0/fileHashes/fileHashes.lock
.gradle/9.1.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/reports/problems/problems-report.html
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.dex
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.dex
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/BuildConfig.class.uniqueId3
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$1.class.uniqueId9
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$2$1.class.uniqueId2
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$2.class.uniqueId0
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$3.class.uniqueId5
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$4.class.uniqueId10
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$5.class.uniqueId6
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$6.class.uniqueId8
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$7.class.uniqueId4
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$8.class.uniqueId1
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$RobotRestarter.class.uniqueId12
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity$SharedPreferencesListener.class.uniqueId11
FtcRobotController/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FtcRobotControllerActivity.class.uniqueId7
FtcRobotController/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/11/classes.dex
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/8/classes.dex
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
*.dex
*.html
*.bin
.gradle/9.1.0/executionHistory/executionHistory.bin
.gradle/9.1.0/executionHistory/executionHistory.lock
.gradle/9.1.0/fileHashes/fileHashes.bin
.gradle/9.1.0/fileHashes/fileHashes.lock
.gradle/9.1.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/reports/problems/problems-report.html
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.dex
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.dex
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/11/classes.dex
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/8/classes.dex
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
.gradle/9.1.0/executionHistory/executionHistory.bin
/.gradle
/.gradle/9.1.0
/.gradle/9.1.0/executionHistory
*.bin
.gradle/9.1.0/executionHistory/executionHistory.bin
.gradle/9.1.0/executionHistory/executionHistory.bin
.gradle/9.1.0/executionHistory/executionHistory.lock
.gradle/9.1.0/fileHashes/fileHashes.bin
.gradle/9.1.0/fileHashes/fileHashes.lock
.gradle/9.1.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/reports/problems/problems-report.html
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.dex
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.dex
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/11/classes.dex
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/8/classes.dex
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
*.bin
*.lock
*.html
.gradle/9.1.0/executionHistory/executionHistory.bin
.gradle/9.1.0/executionHistory/executionHistory.lock
.gradle/9.1.0/fileHashes/fileHashes.bin
.gradle/9.1.0/fileHashes/fileHashes.lock
.gradle/9.1.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.dex
FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.dex
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/11/classes.dex
TeamCode/build/intermediates/dex/debug/mergeLibDexDebug/8/classes.dex
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
local.properties
build/reports/problems/problems-report.html
*.bin
*.txt
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
/build
*.bin
/.gradle/9.1.0/executionHistory
/.gradle/9.1.0
/.gradle
/.gradle/buildOutputCleanup
/.gradle
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm/ftcrobotcontroller
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com/qualcomm
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug/com
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed/bundleLibRuntimeToDirDebug
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1/transformed
/FtcRobotController/build/.transforms/e78a13eee744d462a1133ba1ea9293a1
/FtcRobotController/build/.transforms
/FtcRobotController/build
/FtcRobotController
